# Proyecto Mineria de Datos

## Integrantes

- Ignacio Basualto
- Raimundo Vicente
- Renato Cerda
- Sebastián Bustos	
- Diego Olguín

# Tabla de contenidos

1. [Eleccion de base de datos](#1)
2. [Motivación](#2)
3. [Exploración de datos](#3)

    3.1. [Preprocesamiento](#3.1)

# Elección de base de datos <a class="anchor" id="1"></a>
## Caracterizar series de anime
### El dataset utilizado se encuentra en https://www.kaggle.com/azathoth42/myanimelist

# Motivación <a class="anchor" id="2"></a>

Hoy en dia el anime forma gran parte de la cultura occidental, ha tenido un impacto grande en la sociedad; 
no solo dentro de japón si no que ha llegado a ser tendencia en todo el mundo. Como ejemplo de lo anterior se encuentra
Shingeki no Kyojin / Attack On Tittan que es un anime que actualmente se encuentra en emisión que ha tenido de los ratings y recepeciones más altos dentro de la
televisión y medios de comunicación. Por lo mismo el anime ha empezado a tener un efecto economico importante en la sociedad y por tal motivo es de interes poder comprender relaciones entre usuarios y los animes.

Dado lo anterior podría ser de interes estudiar este dataset para comprender 

- La demografía de los auditores de anime.
- El cambio que ha tenido el anime a lo largo de los años.
- Estudiar el efecto que tienen ciertos productores o personas en el exito del anime 
- Ser capaz de hacer recomendaciones a usuarios sobre posibles animes que pueden interesarles dado sus gustos

# Exploración de datos <a class="anchor" id="3"></a>

La base de datos presentada tiene tres versiones, cada una más preprocesada que la anterior. Estas son:

1. Sin procesamiento
2. Se eliminaron los usarios que tienen atributos faltantes dentro de las siguientes categorias
    * Fecha de Nacimiento
    * Lugar de Residencia
    * Identidad de Genero
3. Dado la base de datos filtrada en 2. se arreglan valores que no tienen sentido (por ejemplo hay usuarios que no se han unido en 1900 años)

Por esta razón se va a utilizar la verison de 3.

## Preprocesamiento <a class="anchor" id="3.1"></a>

El preprocesamiento fue realizado en preprocesamiento.ipynb con los cuales se obtuvieron las siguientes listas

In [7]:
animeList = pd.read_csv("Datos/animeListPreprocesada.csv")

### Listas Preprocesadas

In [8]:
animeList.head()

,anime_id,title,type,source,episodes,airing,rating,score,scored_by,members,...,Space,Samurai,Thriller,Hentai,Yaoi,ShoujoAi,Police,Cars,Dementia,Yuri
0,11013,Inu x Boku SS,TV,Manga,12,False,PG-13,7.63,139250,283882,...,0,0,0,0,0,0,0,0,0,0
1,2104,Seto no Hanayome,TV,Manga,26,False,PG-13,7.89,91206,204003,...,0,0,0,0,0,0,0,0,0,0
2,5262,Shugo Chara!! Doki,TV,Manga,51,False,PG,7.55,37129,70127,...,0,0,0,0,0,0,0,0,0,0
3,721,Princess Tutu,TV,Original,38,False,PG-13,8.21,36501,93312,...,0,0,0,0,0,0,0,0,0,0
4,12365,Bakuman. 3rd Season,TV,Manga,25,False,PG-13,8.67,107767,182765,...,0,0,0,0,0,0,0,0,0,0

In [9]:
userAnimeList.head()

,username,anime_id,my_watched_episodes,my_start_date,my_finish_date,my_score,my_status,my_rewatching,my_rewatching_ep,my_last_updated,my_tags
0,karthiga,21,586,0000-00-00,0000-00-00,9,1,NaN,0,2013-03-03 10:52:53,NaN
1,karthiga,59,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-10 13:54:51,NaN
2,karthiga,74,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-04-27 16:43:35,NaN
3,karthiga,120,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-03 10:53:57,NaN
4,karthiga,178,26,0000-00-00,0000-00-00,7,2,0.0,0,2013-03-27 15:59:13,NaN

In [4]:
userList.head()

,username,user_id,user_watching,user_completed,user_onhold,user_dropped,user_plantowatch,user_days_spent_watching,gender,location,birth_date,access_rank,join_date,last_online,stats_mean_score,stats_rewatched,stats_episodes
0,karthiga,2255153,3,49,1,0,0,55.091667,Female,"Chennai, India",1990-04-29 00:00:00,NaN,2013-03-03 00:00:00,2014-02-04 01:32:00,7.43,0.0,3391
1,Damonashu,37326,45,195,27,25,59,82.574306,Male,"Detroit,Michigan",1991-08-01 00:00:00,NaN,2008-02-13 00:00:00,2017-07-10 06:52:54,6.15,6.0,4903
2,bskai,228342,25,414,2,5,11,159.483333,Male,"Nayarit, Mexico",1990-12-14 00:00:00,NaN,2009-08-31 00:00:00,2014-05-12 16:35:00,8.27,1.0,9701
3,terune_uzumaki,327311,5,5,0,0,0,11.394444,Female,"Malaysia, Kuantan",1998-08-24 00:00:00,NaN,2010-05-10 00:00:00,2012-10-18 19:06:00,9.70,6.0,697
4,Bas_G,5015094,35,114,6,20,175,30.458333,Male,"Nijmegen, Nederland",1999-10-24 00:00:00,NaN,2015-11-26 00:00:00,2018-05-10 20:53:37,7.86,0.0,1847