# Proyecto Mineria de Datos
## Hito 2
### Integrantes

Ignacio Basualto, Raimundo Vicente, Renato Cerda, Sebastián Bustos y  Diego Olguín

Elección de base de datos elegida gira entorno al tema: "Caracterizar series de anime". El dataset utilizado se encuentra en [link](https://www.kaggle.com/azathoth42/myanimelist)

# Aqui agregar lo del hito 1

# Aqui agregar lo que haremos en el hito 3

In [12]:
userList

,username,user_watching,user_completed,user_onhold,user_dropped,user_plantowatch,user_days_spent_watching,gender,birth_date,join_date,last_online,stats_mean_score,stats_rewatched,stats_episodes,country
0,karthiga,3,49,1,0,0,55.091667,Female,1990-04-29,2013-03-03,2014-02-04,7.43,0.0,3391,India
1,Damonashu,45,195,27,25,59,82.574306,Male,1991-08-01,2008-02-13,2017-07-10,6.15,6.0,4903,USA
2,bskai,25,414,2,5,11,159.483333,Male,1990-12-14,2009-08-31,2014-05-12,8.27,1.0,9701,México
3,terune_uzumaki,5,5,0,0,0,11.394444,Female,1998-08-24,2010-05-10,2012-10-18,9.70,6.0,697,Malaysia
4,Bas_G,35,114,6,20,175,30.458333,Male,1999-10-24,2015-11-26,2018-05-10,7.86,0.0,1847,Nederland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108700,isoann,14,213,11,20,136,64.372222,Male,1997-01-13,2011-10-23,2018-02-25,8.03,2.0,3939,RP
108701,bumcakee,13,116,5,9,22,41.365972,Female,1998-07-18,2012-07-14,2017-02-14,8.86,24.0,2537,NaN
108702,Scarlet95,6,103,10,8,54,46.827083,Female,1995-10-17,2013-04-24,2016-12-18,7.40,1.0,2869,België / Belgique / Belgien
108703,Torasori,22,239,0,4,176,72.361111,Male,1998-11-18,2014-07-30,2018-05-24,8.98,47.0,4469,Latvija
108704,HMicca,11,73,2,2,16,64.431250,Female,1995-08-12,2012-05-05,2012-11-15,8.89,11.0,3822,UK

In [13]:
userAnimeList

,username,anime_id,my_watched_episodes,my_start_date,my_finish_date,my_score,my_status,my_rewatching,my_rewatching_ep,my_last_updated,my_tags
0,karthiga,21,586,0000-00-00,0000-00-00,9,1,NaN,0,2013-03-03 10:52:53,NaN
1,karthiga,59,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-10 13:54:51,NaN
2,karthiga,74,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-04-27 16:43:35,NaN
3,karthiga,120,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-03 10:53:57,NaN
4,karthiga,178,26,0000-00-00,0000-00-00,7,2,0.0,0,2013-03-27 15:59:13,NaN
...,...,...,...,...,...,...,...,...,...,...,...
31284025,Yokonightcore,15611,48,2014-00-00,0000-00-00,9,1,NaN,0,2015-09-07 17:33:03,NaN
31284026,Yokonightcore,27815,22,0000-00-00,0000-00-00,9,1,NaN,0,2015-09-07 17:32:05,NaN
31284027,wargod,5945,39,0000-00-00,0000-00-00,8,2,0.0,0,2010-03-29 04:24:12,NaN
31284028,JMc_SetoKai_LoVe,1316,52,0000-00-00,0000-00-00,9,2,NaN,0,2009-12-23 05:45:14,NaN
31284029,hinogurl_mikha,1744,58,0000-00-00,0000-00-00,10,1,0.0,0,2008-04-05 11:36:20,NaN

## Experimento 1 (Clustering)

## Experimento 2 (Predicción de identidad de genero)

Para responder la pregunta si es posible predecir la identidad de genero de un usuario dado sus caracteristicas y animes vistos. Para esto se propone la siguiente metodologia.

El dataset esta dividido en tres partes luego y cada uno es más especifico que el otro, luego haremos un preprocesamiento de la información que nos permita tener tres datasets que estudiar

* userList
* userList + userAnimeList
* userList + userAnimeList + animeList

De esta forma la información partira simple y se empezara complejizando, se espera que separar asi la información entrege una mayor interpretabilidad de los modelos.

En los tres dataset todavía existen variables categorícas, las que no entreguen información se van a eliminar y las que (potencialmente) lo hagan se van ya sea transformar a numeros o aplicar algun metodo como OHE, es importante notar que columnas como username son necesarias pues es la forma de poder unir todos los dataframes, al momento de hacer predicciones se eliminaran.

Como nos interesa realizar predicciones realizaremos el desarrollo y enfoque en eso. Para identidad de genero se presentan clases desbalancedas, por el momento se mantendra el desbalanceo como parte de la información.

A continuación se pensara que se esta trabajando con userList. En primer lugar separamos la información en train y test con el fin de poder aplicar tecnicas de reducción de dimensionalidad sin tener el bias de los datos de testeo.

En primer lugar se buscara eliminar dimensionalidad utilizando correlación, a continuación se estandarizara la información y se ocuparan las tecnicas KNN, SVM y arboles para las predicciones y se utilizaran las metricas usales F1, precisión, recall y accuracy para entender cual metodo entrega una mejor clasificación.

Se decide utilzar KNN y arboles pues se espra que sean capaces de generar modelos facilmente interpretativos, mientras que SVM se espera funcione bien dada su potencia. En caso de que no se tengan resultados satisfactorios o conlcusivos.


Se eliminara dimensionalidad utilizando PCA y se replicara el metodo realizado anteriormente, con la idea de que quizas se redujo de una manera la dimensionalidad. Una vez comparado los resultados de este metodo entre si y con los anteriores, si es que sigue sin ser satisfactorio **AQUI NO SE QUIZAS NOS INTERESE HACER LO OTRO IGUALMENTE**


En primer lugar se trabajara el dataset userList, se estudiaran las variables categoricas y dependiendo si entregan información relevante o no se eliminaran o se aplicara OHE o una transformación a número, con el fin de poder mantener una dimensionalidad baja, posteriormente se reducira la dimensionalidad estudiando las correlaciones y aplicando PCA, finalmente se va a predecir los valores con los metodos KNN, SVM, Arboles de decisión.  Si es que el metodo no funciona se estudiara el dataset completo sin reducción de dimensionalidad. 

En segundo lugar se trabajara el dataset userList y userAnimeList, se agregaran la información de este ultimo y se repitira el proceso sobre las variables categorias y la dimensionalidad que se realizo previamente. Por ultimo se juntaran los 3 datasets y se repetira el proceso.

Se decide trabajar con los dataset de esta manera para intentar encontrar la menor cantidad posible de información que permite poder entender el gusto de los usuarios, además de esta manera se manitene la dimensionalidad de manera baja. Por otro lado se deciden utilizar las tecnias de correlacion y PCA para eliminar atributos pues la de correlación es una buena forma de mantener la interpretabilidad de la información y PCA porque es una manera sencilla de reducir la dimensionalidad. Por ultimo se deciden utilizar KNN pués se espera de una intuición de la forma en que estan agrupados los datos

## Experimento 3 (Recomendador de anime)

ta duro escribir esto

Idea vaga para el cluster

* Las variables categorias OHE o eliminarlas si es que no entregan información.
* Hacer el cluster tal cual
* Reducir dimensionalidad mediante correlacion hacer el cluster 
* Reducir dimensionalidad mediante PCA hacer el cluster 
* Juntar la información sobre episodios vistos
* Hacer el cluster tal cual
* Reducir dimensionalidad mediante correlacion hacer el cluster 
* Reducir dimensionalidad mediante PCA hacer el cluster 
* Juntar la información de los generos de anime que ha visto una persona a la base de datos de personas
* Hacer el cluster tal cual
* Reducir dimensionalidad mediante correlacion hacer el cluster 
* Reducir dimensionalidad mediante PCA hacer el cluster 
* Juntar la información sobre episodios vistos y Juntar la información de los generos de anime que ha visto una persona a la base de datos de personas
* Hacer el cluster tal cual
* Reducir dimensionalidad mediante correlacion hacer el cluster 
* Reducir dimensionalidad mediante PCA hacer el cluster 

Idea vaga para predecir genero
* Las variables categorias OHE o eliminarlas si es que no entregan información.
* Hacer la predicción tal cual
* Reducir dimensionalidad mediante correlacion hacer la predicción 
* Reducir dimensionalidad mediante PCA hacer la predicción
* Juntar la información sobre episodios vistos
* Hacer  la predicción
* Reducir dimensionalidad mediante correlacion hacer  la predicción
* Reducir dimensionalidad mediante PCA hacer  la predicción
* Juntar la información de los generos de anime que ha visto una persona a la base de datos de personas
* Hacer la predicción
* Reducir dimensionalidad mediante correlacion hacer la predicción
* Reducir dimensionalidad mediante PCA hacer  la predicción
* Juntar la información sobre episodios vistos y Juntar la información de los generos de anime que ha visto una persona a la base de datos de personas
* Hacer  la predicción
* Reducir dimensionalidad mediante correlacion hacer la predicción
* Reducir dimensionalidad mediante PCA hacer  la predicción

Idea vaga recomendador
* idem a lo anterior, pero al conjunto de test quitarle un par de animes visto para ver si  el recomendador es capaz de recomendarlos

# Aqui agregar lo que haremos ahora

In [1]:
#Codigo que oculta codigo

# from IPython.display import HTML

# HTML('''<script>
# code_show=true; 
# function code_toggle() {
#  if (code_show){
#  $('div.input').hide();
#  } else {
#  $('div.input').show();
#  }
#  code_show = !code_show
# } 
# $( document ).ready(code_toggle);
# </script>
# Por default el codigo en python esta oculto. Para activarlo / desactivarlo, click <a href="javascript:code_toggle()">aqui</a>.''')

In [10]:
# IMPORTACIÓN DE LAS LIBRERÍAS
import pandas as pd
import numpy as np
import ast
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from IPython.display import display
import warnings
warnings.filterwarnings("ignore")

In [11]:
# Cargar datos preprocesados
animeList = pd.read_csv('Datos/animeListPreprocesada.csv')
userList = pd.read_csv('Datos/userListPreprocesada.csv')
userAnimeList = pd.read_csv('Datos/animelists_cleaned.csv')